.project {
  margin-top: 2em;
  margin-bottom: 3em;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .fields {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .fields a:after {
    content:'|'
  }

  .fields a:last-of-type:after {
    content:''
  }
}
