@media screen and (min-width: 10 * $column-with-gutter) {
  .container {
    @include width(8);
  }

  .examples {
    .example {
      @include width(4);
      display: block;
      margin-bottom: $gutter;

      position:relative;
      margin-bottom: 1em;
      padding: 0;
    }

    .example .example-details {
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      padding: 1em;

      visibility: hidden;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    .example:hover .example-details {
      visibility: visible;

      background-color: rgba($green, 0.85);
      color: $white;
    }
  }

  .page-container {
    position: relative;
    display: block;
    height: 100%;
  }

  .portfolio-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    @include width(4);
    overflow-y: scroll;
  }

  .project-container {
    @include width(4);

    position: absolute;
    right: 0;
    top: 0;
  }

  .testimonial {
    @include width(8);
  }
}
