@media screen and (min-width: 9 * $column-with-gutter) {
  .container {
    @include width(4);

    margin-left: $cols4 + 1em;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .sidebar {
    @include width(4);

    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .sidebar-info {
      display: block;
      padding-left: 2rem;
      position: absolute;
      bottom: 10rem;
    }

    .static-pages {
      position: absolute;
      bottom: 0;
    }

    h1, h2 {
      color: $white;
    }

    h1 {
      margin-top: 3rem;
    }

    h2 {
      opacity: 0.6;
      font-weight: normal;
      line-height: 1.2;
    }
  }

  .examples {
    .example {
      float: left;
      @include width(4);
      margin-right: $gutter;
      margin-bottom: $gutter;

      position:relative;
      margin-bottom: 1em;
      padding: 0;
    }

    .example .example-details {
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      padding: 1em;

      visibility: hidden;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    .example:hover .example-details {
      visibility: visible;

      background-color: rgba($green, 0.85);
      color: $white;
    }
  }

  .examples:after {
    content:'';
    display:block;
    clear: both;
  }

  .testimonial {
    @include width(4);
  }
}
